body{
    display: flex;
    flex-direction: column;
}


.header {
    background-color: black;
    color: azure;
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header button {
    background-color: aquamarine;
    padding: 8px;
    border-radius: 8px;
}

.books {
    min-height: 500px;
}

.footer {
    background-color: lightgray;
    justify-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}
