body{
    display: flex;
    flex-direction: column;
}


.header {
    background-color: black;
    color: azure;
    justify-self: flex-start;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header button {
    background-color: aquamarine;
    padding: 8px;
    border-radius: 8px;
}

.header button:hover {
    background-color: wheat;
}

.books {
    min-height: 450px;
    flex-wrap: wrap;
}

.footer {
    background-color: lightgray;
    justify-self: flex-end;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
