body{
    display: flex;
    flex-direction: column;
}


.header {
    background-color: black;
    color: azure;
    justify-self: flex-start;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header button {
    background-color: aquamarine;
    padding: 8px;
    border-radius: 8px;
}

.header button:hover {
    background-color: wheat;
}

.books {
    /* min-height: 450px; */
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.barea {
    min-height: 450px;
}

.footer {
    background-color: lightgray;
    justify-self: flex-end;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

::backdrop {
    padding: 20px;
    border: 2px solid aliceblue;
}

/* dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

dialog p {
    text-align: center;
}


dialog button {

    background-color: lightblue;
    padding: 8px;
    border-radius: 8px;
    margin: 8px;

}

